<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>0.16.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SatMouse URL Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>satmouse</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.16.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>SFSafariWebExtensionConverterVersion</key>
	<string>26.2</string>
</dict>
</plist>
